# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Design Patterns/FactoryPattern/build/
/ListaDeExercicios02/Lista2_E9/build/
/ListaDeExercicios02/Lista2_E2/build/
/ListaDeExercicios02/Lista2_E3/nbproject/private/
/ListaDeExercicios02/Lista2_E3/build/
/ListaDeExercicios02/Lista2_E4/nbproject/private/
/ListaDeExercicios02/Lista2_E4/build/
/ListaDeExercicios02/Lista2_E6/nbproject/private/
/ListaDeExercicios02/Lista2_E6/build/
/ListaDeExercicios02/Lista2_E7/nbproject/private/
/ListaDeExercicios02/Lista2_E7/build/
/ListaDeExercicios02/Lista2_E8/nbproject/private/
/ListaDeExercicios02/Lista2_E8/build/